{
    "printWidth": 100,
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "endOfLine": "auto",
    "plugins": ["prettier-plugin-organize-imports", "eslint-plugin-prettier", "prettier-plugin-tailwindcss"]
}
